<h2 class="page-heading text-center my-4">{{ _('Why We Built Access the Data') }}</h2>
{% trans %}
    <p>LA County government organizations rely on data and data analysis to craft
    policies. Much of this data is made public. That means community members could
    access it, analyze it, and use it to advocate for their communities.</p>

    <p>The problem is that LA County government data can be hard to find.</p>

    <p>We’re on a mission to change that.</p>

    <p>We’re building Access the Data – a one-stop search tool where community
    members can find available LA county government data.</p>

    <p>Our goal is to empower more community members to engage in data-driven
    community advocacy.
{% endtrans %}
