/* Sora is included in a link on the base.html template. */

/* icons */
@font-face {
  font-family: 'icomoon';
  src: url('../../../fonts/icomoon.eot?599oqm');
  src: url('../../../fonts/icomoon.eot?599oqm#iefix') format('embedded-opentype'),
    url('../../../fonts/icomoon.ttf?599oqm') format('truetype'),
    url('../../../fonts/icomoon.woff?599oqm') format('woff'),
    url('../../../fonts/icomoon.svg?599oqm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
